@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Base.. */
@layer base {
  main {
    transition: background-color 0.3s ease;
  }

  html,
  body {
    h1 {
      @apply text-6xl font-bold;
    }
    h2 {
      @apply text-5xl font-bold;
    }
    h3 {
      @apply text-4xl font-bold;
    }
    h4 {
      @apply text-3xl font-bold;
    }
    h5 {
      @apply text-2xl font-bold;
    }
  }
}

/* Components */
@layer components {
  .menu-item {
    @apply relative flex h-full items-center hover:cursor-pointer font-bold hover:text-zinc-200 hover:bg-white/10 p-4 transition-colors;
  }

  /* nav gradient */
  .nav-gradient {
    @apply bg-gradient-to-r from-rose-500 to-pink-500 hover:bg-amber-100;
  }

  .nav-item {
    @apply text-center h-full cursor-pointer items-center p-4 font-bold text-pink-200 transition-colors ease-in-out hover:bg-white/10 hover:text-zinc-200;
  }
}

/* animation */
@theme {
  --animate-fade-in-scale: fade-in-scale 1s ease-out infinite alternate;
  --animation-delay-fast: 100ms;
  --animation-delay-medium: 500ms;
  --animation-delay-slow: 1s;

  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

/* 유틸리티  */
@layer utilities {
  .animation-delay-75 {
    animation-delay: 75ms;
  }
}
